<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1>
                GREAT PODCASTERS,<br>
                MEET GREAT ADVERTISERS
            </h1>
        </div>
    </section>
    
    <section class="middle-wrapper">
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'mic_icon.png'%>
                </div>
                <h2>Podcaster</h2>
                <p>番組に収益化を支援しあなたの<br>クリエイティブさを最大化</p>
            </div>
        </div>
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'people_icon.png', :size => "40×40" %>
                </div>
                <div>
                    <h2>Podcaster</h2>
                    <p>番組に収益化を支援しあなたの<br>クリエイティブさを最大化</p>
                </div>

            </div>
        </div>
    </secton>
    
    <section class="middle2-wrapper">
        
        <div class="info-box">
            <div class="info-wrapper">
                <span></span>
                <p></p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <span></span>
                <p></p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <span></span>
                <p></p>

            </div>
        </div>
        
    </section>
    
    <section class="cta-wrapper">
        
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul>
                    <li>
                        <a>広告主</a>
                    </li>
                    <li>
                        <a>番組ホスト</a>
                    </li>
                    <li>
                        <a>お問い合わせ</a>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>