<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                CONTACT OUR SALES TEAM
            </h1>
        </div>
    </section>
    
    <section class="contact-wrapper">
        <div class="contact-container">
            <h2 class="contact-title">番組の収益化を始める</h2>
            <p>内容をお送りいただいた後、案件組成チームよりご連絡<br>を差し上げます。その後条件等の交渉に入り、正式に案件が組成されます</p>
            <div class="contact-form-wrapper">
                this part involves creating model and stuff so do this later
            </div>
        </div>
    </section>
    
 
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <%= link_to '広告主', '/advertisers' %>
                    </li>
                    <li>
                        <%= link_to '番組ホスト', '/podcasters' %>
                    </li>
                    <li>
                        <%= link_to 'お問い合わせ', '/' %>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>