<main>
    
    <section class="top-wrapper">
        <div class="top-h1-wrapper">
            <h1 class="top-h1">
                GREAT PODCASTERS,<br>
                MEET GREAT ADVERTISERS
            </h1>
        </div>
    </section>
    
    <section class="middle2-wrapper p-middle-w">
        <h2>LOCURAとは？</h2>
        <p>LOCURAとは、Podcasterと、Podcastに広告を出稿したい広告主をつなげるマッチングサービスです。</p>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'person_radio.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>
            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'pointing.png', style:"height:80px;width:80px" %>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
        <div class="info-box">
            <div class="info-wrapper">
                <div class="info-icon-wrapper">
                    <%= image_tag 'handshake.png', style:"height:80px;width:80px"%>
                </div>
                <p>簡単無料依頼<br>2分でスマホやPCで楽々依頼内容</p>

            </div>
        </div>
        
    </section>
    
    <section class="faq-wrapper">
        <h2 class="faq-title">よくある質問</h2>
        <div class="faq-box">
            <p class="faq-q">Q コンテンツの権利は移ってしまうのですか？</p>
            <p class="faq-a">A コンテンツの権利は一切移動しません。LOCURAにて発生した取引の30%を手数料としていただき、それ以外は介入いたしません</p>
        </div>
        
        <div class="faq-box">
            <p class="faq-q">Q 番組の収益はどれくらいになりますか？</p>
            <p class="faq-a">A 収益は基本的にDL数あたりの広告単価できまります。計算はこちらから</p>
        </div>
        
        
    </section>
    
    <section class="cta-wrapper">
        <div class="cta-container">
            <button class="cta-button info-button">
                開始する
            </button>
            
        </div>
        
    </section>
    
    <footer>
        <div class="footer-wrapper">
            <div class="footer-ul-wrapper">
                <ul class="footer-ul">
                    <li>
                        <a>広告主</a>
                    </li>
                    <li>
                        <a>番組ホスト</a>
                    </li>
                    <li>
                        <a>お問い合わせ</a>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </footer>

</main>