<main>
    <section class="terms-section">
        <div class="terms-container">
            <h1>Locura利用規約</h1>
            <p>本利用規約（以下「本規約」といいます。）には合同会社ロクラ（以下「当社」といいます。）の提供するアドプラットフォーム「LOCURA」(以下「本サービス」といいます。)の利用者が遵守していただかなければならない事項ならびに利用者と当社間の権利義務関係が定められております。
                本サービスの利用の前に、本規約を全文お読みいただいたうえで、本規約に同意いただく必要がございます。
            </p>
            
            <h2>第1章 総則</h2>
            
            <h3>第1条 定義</h3>
            <div class="terms-content">
                
                <p>1) 「本サービス」</p>
                <p>当社が本サイト又はメール等を通して提供する、広告主と番組主のマッチングを行うサービス「Locura」及びそれに付随するサービスの事をいいます。</p>
                
                <p>2)「知的財産権」</p>
                <p>著作権、特許権、実用新案権、商標権、意匠権その他の知的財産権（それらの権利を取得し、又はそれらの権利につき登録等を出願する権利を含みます）を意味します。</p>
                
                <p>3)「利用者」</p>
                <p>登録の有無を問わず、本サービスの提供を受ける者。本サイトを閲覧するものも含まれます。</p>
                
                <p>4)「番組主」</p>
                <p>利用者の中で、Podcastなどの配信プラットフォームにて番組を保有するものをいいます。</p>
                
                <p>5)「広告主」</p>
                <p>本サービスの登録及び利用を希望する者のうち、番組主以外の者の事をいいます。</p>
                
                <p>6)「登録情報」</p>
                <p>登録手続きの際に入力・提供された全ての情報のことをいいます。</p>
                
                <p>7)「エピソード」</p>
                <p>番組内にて放送される、番組の放送内容の一単位の事を言います。</p>
                
                <p>8)「ダウンロード数」</p>
                <p>エピソードが配信プラットフォーム上でダウンロードされた回数</p>
                
                <p>9)「広告枠」</p>
                <p>番組主が自身の番組のエピソードにおいて、広告主向けに販売している枠の事を言います。</p>
                
                <p>10)「広告単価」</p>
                <p>番組主が自身が保有する番組の広告枠について定める価格の事を言います。</p>
                
                <p>11)「広告費」</p>
                <p>購入した広告枠の広告単価と、当該広告枠が挿入されたエピソードが得たダウンロード数を用いて算出する、広告枠を購入する際にかかる費用の事を言います。</p>
                
                <p>12)「本取引」</p>
                <p>本サービスを介して番組主と広告主の間で行われる、広告枠の売買の事またはそれに係る業務のことをいいます。</p>
                
                <p>13)「本取引成立」</p>
                <p>広告主が広告枠を購入する申請をし、番組主が当該申請を当社所定の手続きにより承諾された時点のことをいいます。</p>
                
            </div>
            
            <h3>第2条 適用</h3>
            <div class="terms-content">
                
                <p>1)本規約は、本サービス(第1条第1号で定義)の利用に際する当社、利用者の権利義務関係を定めることを目的とし、当社と利用者間の本サービスにおける一切の関係について適用されるものとします。</p>
                <p>2)本サービスに関する契約書が本規約とは別に当社との間で既に締結、又は締結する場合、当該契約書の内容と本規約の内容が矛盾抵触する場合は、当該契約書の内容が優先的に適用されるものとします。</p>
                
            </div>
            
            <h2>第2章 登録</h2>
            
            <h3>第3条 登録</h3>
            <div class="terms-content">
                <p>1) 本サービスへの登録を申し込む者(以下「登録申込者」といいます)は、本規約の全ての内容を順守することに同意したうえで、当社の定める方法で手続きを行うことにより、本サービスへの登録の申請を行うものとします。</p>
                <p>2) 本サービスへの登録申込者は、登録をした情報全てにおいて虚偽の内容を使用しないことを保証します。</p>
                <p>3) 当社は、下記で定められる事由のいずれかに該当する場合、本サービスへの登録を承諾しない場合がございます。なお、当社は利用者の本サービスへの登録を承諾しない場合にその理由について開示する義務を追いません。</p>
                <p>
                    ①本規約の内容の不履行又はそのおそれがある時<br>
                    ②当社に提供された情報の一部又は全部に虚偽、誤記または記載漏れがあった場合<br>
                    ③その他当社が登録を適切でないと判断したとき
                </p>
            </div>
            
            <h2>第3章 本サービス</h2>
            
            <h3>第4条 本サービスの内容</h3>
            <div class="terms-content">
                <p>1)当社は、番組主と広告主が本取引を行うためのツール及びプラットフォームの提供を行います。</p>
                <p>2)本サービスは、番組主と広告主間の本取引を締結することを目的とし、当社は本取引の当事者ではありません。</p>
                <p>3)当社は、本取引における番組主が提供する内容(番組、その他)について、正確性・適法性・権利の侵害等を保証する義務を負いません。</p>
            </div>
            
            <h2>第4章 取引</h2>
            
            <h3>第5条 取引の成立・完了</h3>
            <div class="terms-content">
                <p>1)当社所定の手続きにより、広告主からの本取引の申請が番組主により承諾された段階で取引が成立するものとします。</p>
                <p>2)前項に基づいて成立した本取引は、両当事者の合意がある場合を除き、成立後には契約内容の一切を変更できないものとします。</p>
                <p>3)本取引の成立の際に、業務内容や報酬金額当以外にキャンセルに関する責任の有無等を当事者間で取り決める場合は、当事者間で別途合意するものとし、当社はその合意の有無及び内容の正当性等には関与せず、その結果生じた損害については一切の責任を負わないものとします。</p>
                <p>4)広告主と番組主の間で成立した本取引は、放送完了後ダウンロード数が番組主によって当社に報告され、キャンペーンの状態が「完了」となるもしくは当社所定の通知方法により広告主に連絡された時点で完了(以下、「本取引完了」といいます。)とします。</p>
            </div>
            
            <h3>第6条 取引のキャンセル</h3>
            <div class="terms-content">
               
                <p>1)本取引において、番組主、広告主の両者は、”承認待ち”の状態の取引のみ随時、当社が定める手続きにより、本サイトにてキャンセルを行えるものとします。メールや電話、口頭でのキャンセルの申請は原則受け付けないものとします。</p>
                <p>2)番組主が、取引の申請を承諾し、”承認済み”の状態にある取引に関しては、キャンセルは一切出来ないものとします。また”承認済み”となった時点で広告主には本取引申請時に取り決めた報酬額の支払いの義務が発生するものとします。しかし、当事者いずれかもしくは両方のやむを得ない理由により本取引の中断・停止を希望する場合は、当事者間が合意した場合に限り、本取引の中断・停止ができるものとします。</p>
                
            </div>

            <h2>第5章 収益折半</h2>
            
            <h3>第7条 収益折半</h3>
            <div class="terms-content">
                <p>1)当社は、広告主から支払われる広告費(第1条第11号で定義)のうち、30%を本取引における手数料としていただき、残りの70%を番組主への報酬として支払うものとします。</p>
                <p>2)番組主は、本取引において販売した広告枠が含まれるエピソード(第1条第7号で定義)が放送され、以下の条件が全て満たされた場合にのみ、当社から報酬を受取ることができます。</p> 
                <p>①販売した広告枠が含まれるエピソードの放送が当社によって確認できた<br>
                ②放送終了後ダウンロード数(第1条第8号で定義)が番組主によって報告された<br>
                ③広告主から当社に対して広告費が支払われた<br>
                ④番組主が利用可能な振込先情報を提供している</p>
            </div>
            
            <h2>第6章 対価の支払い</h2>
            
            <h3>第8条 対価の支払い</h3>
            <div class="terms-content">
                <p>1)本取引に係る金銭の支払いは銀行振込のみとします</p>
                <p>2)当社は、本取引成立時に広告主に対し本取引における対価及びそれに係る消費税相当額(地方消費税を含みます。以下同じ)を請求するものとします。また広告主が当社に金銭の振込を行う際の振込手数料は広告主の負担とします。</p>
                <p>3)当社が番組主に金銭の振込を行う際の振込手数料は当社の負担とします</p>
                <p>4広告主と番組主間で、本取引において発生した、又は発生する金銭の直接授受を禁止します。</p>
                <p>5)広告主が、第2項で定める支払い期限内の対価の支払いを怠った場合には、年14.6%の割合による遅延損害金(1年を365日とする日割計算)及びこれにかかる弁護士費用等(合理的と考えられる範囲で)を、広告主が当社に対して支払う義務を負うものとします。</p>
                <p>6)広告主の番組主に対する対価の支払いは、当社が広告主から報酬額相当の金額を受領し、当社から番組主に対して支払うものとします。</p>
                <p>7)番組主が、購入された広告枠にて合意した広告を放送しない、エピソードを放送しない、放送完了後に当社が定める業務またはそれに準ずる業務の不履行があった際には、番組主には報酬は支払われないものとします。また当該業務不履行において当社が損害を被った場合は、番組主は当社の損害を賠償しなければいけないものとします。</p>
                <p>8)本取引成立後、広告の内容に関する情報提供など、広告主が、当社の定める業務の不履行があり、購入した広告枠にて当該広告主の広告が放送されないなどの場合でも、本取引に係る一切の広告費を当社に支払う義務があるものとします。</p>
                <p>9)本取引成立直前に本サービスを解約し、本サービス及び本サイトを介さずに取引を成立させることで当社と番組主間に発生する手数料を免れる行為に対処すべく、当該解約後、一定期間内で取引が成立した場合でも、当社に対し手数料を支払う義務があることとします。</p>
            </div>
            
            <h2>第7章 禁止事項</h2>
            
            <h3>第9条 一般禁止事項</h3>
            <div class="terms-content">
                <p>1)法令または公序良俗に違反する行為</p>
                <p>2)犯罪行為に関連する行為</p>
                <p>3)本サービスの内容等，本サービスに含まれる著作権，商標権ほか知的財産権を侵害する行為</p>
                <p>4)当社，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</p>
                <p>5)当社のサービスの運営を妨害するおそれのある行為</p>
                <p>6)不正アクセスをし，またはこれを試みる行為</p>
                <p>7)不正な目的を持って本サービスを利用する行為</p>
                <p>8)他のユーザーに成りすます行為</p>
                <p>9)当社のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</p>
                <p>10)その他，当社が不適切と判断する行為</p>
            </div>
            
            <h3>第10条 直接取引の禁止</h3>
            <div class="terms-content">
                <p>1)本サービスを介さず利用者間で取引を行うこと。ただし、当社の書面による事前の承諾を得た場合を除きます。</p>
                <p>2)利用者の前項の規定に関する違反が発覚した場合、当該違反に関係する利用者は当社に対し、前項の取引において発生した支払い額の2倍の額を、当該違反が発覚してから15日以内に支払う義務が発生するものとします。また本項の規定は、当該違反における違約金の額を超える、そのほかの損害賠償の請求権を当社からはく奪することにはなりません。</p>            
            </div>
            
            
            <h3>第11条 再委託</h3>
            <div class="terms-content">
                <p>1)番組主は、当社の事前の書面による承諾を得ず、本取引に係る業務の全部または一部を第三者に委託してはならないものとします。</p>
                <p>2)番組主が本取引に係る業務の全部または一部を第三者に委託した場合、番組主は当該第三者の一切の行為について自己の行為であるとみなし全ての責任を負うものとします。</p>
            </div>
            
            
            <h2>第8章 免責・損害補償</h2>
            
            <h3>第12条 保証の否認および免責事項</h3>
            <div class="terms-content">
                <p>1)当社は、本サービスに事実上または法律上の瑕疵(完全性、特定の目的への適合性、セキュリティなどに関する完全性、エラーやバグなど。)が無いことを明示的にも黙示的にも保証しておりません。</p>
                <p>2)本サービス及び本取引において、利用者が第三者又は他の利用者に対し不利益・損害を与えた場合、利用者は自己の費用と責任においてこれを賠償するものとし、当社はこれらの一切の不利益・損害について責任を負いません。</p>
                <p>3)当社は、本サービスに起因して利用者に生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当社と利用者との間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。</p>
                <p>4)当社は、不正アクセス等で、当社の責めに帰さない事由で利用者の登録情報(第1条第6号で定義)が漏洩したとしても、そのために生じた損害について、一切責任を負いません。</p>
                <p>5)当社は、本サービス条の本取引を管理するものではなく、本取引によって発生した一切の損害について一切責任を負いません。</p>
                <p>6)番組主は、自身の番組及びそのエピソードに関する全ての情報、広告枠、広告主との交渉内容、条件、その他自身が保有する情報、自身が当事者となる取引の情報等を全て自身で管理する義務があり、当社は一切の責任を負いません。</p>
                <p>7)番組主が事故にあった際やその他当社又は番組主側にやむを得ない事情が生じたことに起因し、本取引が遅延又は不履行となった場合、当社は広告主に対し一切の責任を負わないものとします。</p>
                <p>8)当社は、番組主又は広告主が本サービス上で取引を完了することを保証するものではありません。</p>
                <p>9)取引において、利用者の傷病等その他やむを得ない事情に起因し本取引が遅延又は不能になり損害等が発生した場合、当社は一切の責任を負わないものとします。</p>
                <p>10)広告主は、Podcastなどの、番組が放送される配信サービスを提供する者の判断により、本取引における番組が削除、配信停止、アカウントの停止、等の措置がとられる場合があることをあらかじめ認識し、かかる損害において当社が一切の責任を負わず、本取引における対価の減額は行われず、当社から当該本取引における対価の返還の義務等が一切ないことを了承するものとします。</p>
                <p>11)本規約が消費者契約法(平成 12 年法律第 61 号)上の消費者契約に該当する場合または当社に故意または重過失が存する場合には、本規約における当社の損害賠償責任を完全に免責する規定は効力をもたないものとします。</p>
            
            </div>
            
            <h3>第13条 損害賠償額の制限</h3>
            <div class="terms-content">
                <p>1)本サービスの利用に関し当社が損害賠償責任を負う場合、当社は5万円を上限として、当該利用者に対して損害賠償責任を負うものとし、また、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負わないものとします。</p>
            </div>
            
            <h3>第14条 情報の管理</h3>
            <div class="terms-content">
                <p>1)利用者は、登録されているID、パスワード等の情報について、自己の責任で管理し、これらの情報の盗用されるなどの事態を防止する措置を自ら講じるものとします。</p>
                <p>2)特段の定めがない限り、利用者がログインの際に使用するログインIDまたはメールアドレス、パスワードが、登録時に入力されたものもしくは当社所定の手続きに変更されたものと一致することが確認出来た際は、当該利用が利用者本人による利用であるものとみなします。</p>
                <p>3)利用者は、登録されている自身の情報の管理不十分等によって被った損害は利用者が責任を負うものとし、当該損害に関しては当社は一切の責任を負わないものとします。</p>
            </div>
            
            
            <h2>第9章 知的財産権</h2>
            
            <h3>第15条 知的財産権</h3>
            <div class="terms-content">
                <p>1)番組主が保有する番組の一切の権利は、番組主に所属するものとします。</p>
            </div>
            
            <h2>第10章 本サービスの提供の停止等</h2>
            
            <h3>第16条　本サービスの提供の停止等</h3>
            <div class="terms-content">
                <p>1)当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
                <p>①本サービスにかかるコンピュータシステムの保守点検または更新を行う場合<br>
                    ②地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合<br>
                    ③コンピュータまたは通信回線等が事故により停止した場合<br>
                    ④その他，当社が本サービスの提供が困難と判断した場合
                </p>
                <p>2)当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</p>
            </div>
            
            <h2>第11章 本規約の変更</h2>
            <h3>第17条 本規約の変更</h3>
            <div class="terms-content">
                <p>1)当社は，当社の裁量において，利用者に通知することなくいつでも本規約を変更することができるものとします。</p>
                <p>2)本規約の変更後，当社は本サービス上で利用者に対して通知をするものとし、当該内容変更後に利用者が本サービスを利用した場合には，当該利用者は変更後の規約に同意したものとみなします。</p>
            </div>
            
            <h2>第12章 有効期間</h2>
            <h3>第18条 契約の有効期間</h3>
            <div class="terms-content">
                <p>1)本規約の有効期間は、利用者の登録から、登録の取消まで、もしくは1年間とします。</p>
            </div>
            
            
            <h2>第13章 登録の取消・抹消</h2>
            <h3>第19条 登録の取消・抹消</h3>
            <div class="terms-content">
                <p>1)当社は、利用者が以下のいずれかに該当する場合には、事前の通知なく，利用者に対して、本サービスの全部もしくは一部の利用を制限し，または利用者としての登録を抹消することができるものとします。</p>
                <p>①本規約のいずれかの条項に違反した場合<br>
                    ②登録事項に虚偽の事実があることが判明した場合<br>
                    ③料金等の支払債務の不履行があった場合<br>
                    ④当社からの連絡に対し，一定期間返答がない場合<br>
                    ⑤本サービスについて，最終の利用から一定期間利用がない場合<br>
                    ⑥ 支払停止若しくは支払不能となり、又は破産手続開始、民事再生手続開始若しくは会社更生手続開始その他これらに類する手続開始の申立てがあったとき<br>
                    ⑦その他，当社が本サービスの利用を適当でないと判断した場合
                </p>
                <p>2)当社は、本条に基づき当社が行った行為によりユーザーに生じた損害について、一切の責任を負いません。</p>
                <p>3)利用者の登録の取消や解除がなされた場合でも、当社は本取引における遂行済みの業務に対する対価を広告主に請求することが出来るものとします。</p>
            </div>
            
            
            <h2>第14章 退会手続き</h2>
            
            <h3>第20条 退会手続き</h3>
            <div class="terms-content">
                <p>1)利用者は、当社の定める退会手続により、本サービスから退会できるものとします。</p>
                <p>2)ただし、利用者が当事者として成立した取引の業務、支払いが完了していない場合は、前項における退会が出来ないものとします。</p>
            </div>
            
            
            <h2>第15章 データに関して</h2>
            <h3>第21条 データの利用</h3>
            <div class="terms-content">
                <p>1)当社は、番組主の登録情報を、営業やマーケティングなどの活動において全部または一部を利用出来るものとします。</p>
            </div>
            
            <h3>第22条 データの閲覧</h3>
            <div class="terms-content">
                <p>1)利用者は、本規約の違反等の有無を判断する目的で当社が本サービスにおける登録情報の全部または一部を閲覧する可能性があることをあらかじめ承諾するものとします。</p>
                <p>2)ただし、当社は当該情報の監視及び削除についての義務を負っているものではありません</p>
            </div>
            
            <h2>第16章 通知</h2>
            
            <h3>第23条 当社と利用者間の連絡方法</h3>
            <div class="terms-content">
                <p>1)当社から利用者に対する通知又は連絡がある場合は、本サイト上、登録されたメールアドレスへの電子メールにて行うものとします。</p>
            </div>
            
            <h2>第17章 本サービスの中止・中断・廃止</h2>
            
            <h3>第24条 本サービスの中止・中断・廃止に関して</h3>
            <div class="terms-content">
                <p>1)当社は、本サービスの全部又は一部を、15日前までに利用者に対し、本サイト上もしくは電子メールにて通知を行うことにより、変更、停止、中断、廃止を行う事ができるものとします。ただし、やむを得ない場合はこの限りではありません。</p>
                <p>2)当社は、前項に基づき本サービスを変更、停止、中断、廃止等を行うまたは行った事による利用者及びその他の第三者に生じた損害について一切の責任を負いません。</p>
            </div>
            
            <h2>第18章 反社会勢力の排除</h2>
            <h3>第25条 反社会勢力の排除</h3>
            <div class="terms-content">
                <p>1)利用者は、当社に対し、下記の事項を確約するものとします。</p>
                <p>①自ら及び自らの役員（取締役、執行役、執行役員、監査役又はこれらに準ずる者をいう。）が反社会的勢力（暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋、その他これらに準ずるもの、以下同じ。）ではないこと、及び反社会的勢力を利用していると認められる関係を有していない事</p>
                <p>②反社会的勢力に自らの名義を貸し、本サービスの利用をさせないこと</p>    
                <p>2)当社は、利用者が前項の確約の確認が無いことが発覚した、及び出来ない場合、一切の通知又は催告をすることなく、本利用規約の全部または一部の解除をすることが出来るものとします</p>
                <p>3)当社は、前項の規定に基づき本規約の全部又は一部を解除した事に起因して利用者に発生した損害に対して一切の責任を負わないものとします。</p>
            </div>
            
            <h2>第19章 権利・義務</h2>
            <h3>第26条 地位等の譲渡の禁止</h3>
            <div class="terms-content">
                <p>1)利用者は、当社の書面による事前の同意なしに、本規約上の地位、権利及び義務の全部または一部について、第三者に譲渡、質入れ、その他の方法により処分をしてはならないものとします。</p>
            </div>
            
            <h3>第27条 本サービスの譲渡等</h3>
            <div class="terms-content">
                <p>1)当社は、本サービスにかかる事業を第三者に譲渡した場合、当該事業譲渡に伴い、本サービス及び本規約上の地位、権利、義務並びに利用者の登録情報及びその他情報を当該事業譲渡の譲受人に譲渡することが出来るものとします。利用者は、かかる譲渡につき本項において事前に同意したものとします。</p>
            </div>
            
            <h2>第20章 分離可能性</h2>
            <h3>第28条 分離可能性</h3>
            <div class="terms-content">
                <p>1)本規約又はいずれかの条項又はその一部が、無効と判断された場合であっても、本規約の残りの条項及び一部が継続的に完全に効力を有し、両当事者は、当該無効の条項又は一部分を適法年、執行力を持たせるために必要な範囲で修正し、当該無効もしくは執行不能な条項または部分の趣旨ならびに法律的および経済的に同等の効果を確保できるように努めるものとします。</p>
            </div>
            
            <h2>第21章 秘密保持</h2>
            <h3>第29条 秘密保持</h3>
            <div class="terms-content">
                <p>1)利用者は、秘密情報を本サービスの利用及び本取引の履行の目的以外で使用しないものとします。</p>
            </div>
            
            <h2>第22章 完全合意</h2>
            <h3>第30条 完全合意</h3>
            <div class="terms-content">
                <p>1)本規約は、本規約に含まれる事項に関する利用者と当社との完全な合意を構成し、口頭又は書面を問わず、本規約に含まれる事項に関する当社と利用者との事前の合意、表明及び了解に優先します。</p>
            </div>
            
            <h2>第23章 存続規定</h2>
            
            <h3>第31条　存続規定</h3>
            <div class="terms-content">
                <p>第5条3項、第8条5~10項、第10条2項、第12条2~7項、第12条9項、第13条1項、第14条3項、第16条2項、第24条2項、第25条3項にて定める規定及びその性質上当然に存続すべき規定及び条項は、解除その他理由の如何を問わず、本契約終了後もその効力を存続する。</p>
            </div>
            
            <h2>第24章 協議事項</h2>
            <h3>第32条　協議事項</h3>
            <div class="terms-content">
                <p>1)本規約の各条項の解釈に疑義が生じた場合又は本規約に定めのない事由が生じた場合については、両当事者誠意を持って協議解決を図るものとします。</p>
            </div>
            
            <h2>第25章 準拠法及び管轄裁判所</h2>
            <h3>第33条 準拠法及び管轄裁判所</h3>
            <div class="terms-content">
                <p>1)本規約の準拠法は日本法とします</p>
                <p>2)本サービスにかかる一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
            </div>
            
            <div style="text-align:right;margin-top:4em">以上</div>
        </div>
    </section>
</main>