// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
    box-sizing: border-box;
}
body{
    color:#575757;
}

.btn:hover{
    cursor: pointer;
}


.top-wrapper{
    height: 450px;
    position: relative;
    background: image-url("mic_pic.jpg") no-repeat center;
    background-size: cover;
    // background-size: 100% 100%;
    
}

.top-h1-wrapper{
    position: absolute;
    bottom: 47px;
    margin-left: 37px;
}

.top-h1{
    font-size: 2.4em;
}

.middle-wrapper{
    font-size: 0px;
    box-sizing: border-box;
    padding: 0 110px;
    margin-bottom: 80px;
}

.info-box{
    font-size: 15px;
    height: 100%;
    width: 49.5%;
    display: inline-block;
}

.info-wrapper{
    text-align: center;
    height: 69%;
    margin: 56px 50px 10px 50px;
    box-sizing: border-box;
    padding: 20px;

}

.info-icon-wrapper{
    width: 80px;
    margin: 0 auto;
    height: 80px;
}

.info-button{
    height: 35px;
    width: 124px;
    border: none;
    border-radius: 6px;
    background-color: #19BBDD;
    color: white;
    font-family: "Lobster";
    font-weight: 600;
    font-size: .83em;
    letter-spacing: .074em;
    text-decoration: none;
}

.info-button:hover{
    cursor: pointer;
}


.middle2-wrapper{
    margin: 42px 0 40px 0;
    font-size: 14px;
    text-align: center;
}

.middle2-wrapper .info-box{
    width: 33%;

    
}

.middle2-wrapper .info-box p{
    font-size: .8em;
}

.middle2-wrapper .info-wrapper{
    margin: 21px 0 20px 0;
}

.cta-wrapper{
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #F0FAFA;
    
}

.cta-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}





footer{
    height: 90px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #131B39;
}

footer a{
    text-decoration: none;
}

.footer-wrapper{
    width: 80%;
    margin: 25px 0 19px 20px;
    color: white;
    display: flex;
    align-items: center;
}

.footer-ul-wrapper{
    display: flex;
    align-items: center;
}

.footer-ul-wrapper a{
    color:white;
}

.footer-ul{
    list-style:none;
    float: left;
    font-size: .75em;
}

.footer-ul li{
    float:right;
    margin-right: 14px;
}







// advertisers page

.ad-middle-w{
    margin: 90px 0;
    box-sizing: border-box;
    padding: 0 140px;
}


// advertiser contact

.contact-container{
    text-align: center;
    box-sizing: border-box;
    padding: 40px 20px;
}

.contact-form-wrapper{
    margin: auto;
    width: 650px;
}

.form-body{
    height: 100%;
    width: 70%;
    margin: auto;
    box-sizing:border-box;
    padding: 40px 10px;
    font-size: 14px;
}

.form-items{
    width: 342px;
    margin: auto;
}

.form-container{
    display: table-row;  
}

.form-container label{
    width: 80px;
}

.form-item{
    display: table-cell;
    vertical-align: top;
}

.form-text-area{
    height: 26px;
    width: 259px;
    margin: auto;
    margin-bottom: 40px;
    border: .45px solid rgba(0,0,0,.3);
    border-radius: 4px;
}

.form-text{
    height: 120px;
}

.form-btn-wrapper{
    box-sizing: border-box;
    width: 152px;
    float: right;

}

.form-btn{
    background-color: #19BBDD;
    border: none;
    height: 33px;
    width: 55px;
    color: white;
    border-radius: 5px;
    float: right;

}

.form-submit-item{
    float:right;
}






// podcaster page

.p-middle-w{
    font-size: 14px;
    margin-bottom: 20px;
}

.faq-wrapper{
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 50px;
}

.faq-title{
    font-size: 30px;
    text-align: center;
}

.faq-box{
    font-size: .8em;
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 13px;
}

.faq-box p{
    margin: .5em 0 0 0;
}












// login

.login-form-body{
    padding-top: 9px;
}

.login-form-items{
    width: 356px;
}




// myaccount

.top-nav-bar{
    position: relative;
    height: 93px;
    border-bottom: 1.3px solid rgba(0,0,0,.3);
}


.top-nav-ul{
    position: absolute;
    bottom: -1px;
    margin: 0;
    padding-left: 29px;
    
}

.top-nav-li{
    float: left;
    list-style: none;
    height: 40px;
    width: 145px;
    border-top: 1px solid rgba(0,0,0,.3);
    border-right: 1px solid rgba(0,0,0,.3);
    border-left: 1px solid rgba(0,0,0,.3);
    line-height: 40px;
    text-align: center;
    font-size: .7em;
    margin-right: 9px;
    border-radius: 2.1px;
}

.top-nav-li:hover{
    cursor: pointer;
}

.content-sec{
    height: 830px;
    box-sizing: border-box;
    padding-top: 20px;
    background:#F3F3F3;
}

.content-sec h2{
    margin: 16px 0 0 30px ;
    font-size: 1.35em;
}

.content-wrapper{
    width: 61%;
    height: 600px;
    margin: 70px auto;
    box-shadow: 0 7px 14px 0 rgba(50,50,93,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
}


.content-payment-wrapper{
    line-height: 600px;
    text-align: center;
}
.content-container{
    display:none;
}


.profile-form-body{
    padding-top: 90px;
}

.pro-form-btn-wrapper{

}

.delete-btn{
    text-decoration: none;
    color: #575757;
    border-bottom: 0.45px solid rgba(0,0,0,.3);
    font-size: 0.85em;
    margin-right: 13px;

    
}


.form-btn-ul li{
    float: right;
}



.deal-management-table{
    width: 100%;
    display: table;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.deal-management-table tbody{
    display: table-row-group;
    border-collapse: collapse;
}

.deal-management-table tr{
    display: table-row;
    height: 44px;
    width: 100%;
    table-layout: fixed;

}

.deal-titles{
    background: #E9E9E9;
}


.deal-titles td{
    border: 1px solid rgba(0,0,0,.3);
    text-align: center;
    font-size: .73em;

}

.deal-tr td{
    border: 1px solid rgba(0,0,0,.3);
    text-align: center;
    font-size: .73em;
}


.error-message-wrapper{
    border: .12em solid #FE4A1D;
    width: 417px;
    margin: auto;
    font-size: .85em;
    
}

.error-message-ul{
    margin-top: 7px;
}

.error-message-wrapper li{
    text-align: left;
    margin-bottom: 1.4px;
    width: 75%;
    margin: auto;
}


.error-title{
    line-height: 27px;
    height: 27px;
    color: white;
    background: #FE4A1D;
    text-align: left;
    padding-left: 34px;
}



// contact page

.contact-form-body{
    width: 80%;
}

.contact-form{
    width: 340px;
}
.contact-form-content{
    height: 152px;
}



.active{
    display: block;
}

.active-btn{
    background: #131B39;
    color:white;    
}

.form-contact-items{
    width: 400px;
}