// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    color:#575757;
}



.top-wrapper{
    height: 450px;
    position: relative;
    background: image-url("mic_pic.jpg") no-repeat center;
    background-size: cover;
    // background-size: 100% 100%;
    
}

.top-h1-wrapper{
    position: absolute;
    bottom: 47px;
    margin-left: 37px;
}

.top-h1{
    font-size: 2.4em;
}

.middle-wrapper{
    font-size: 0px;
    box-sizing: border-box;
    padding: 0 110px;
    margin-bottom: 80px;
}

.info-box{
    font-size: 15px;
    height: 100%;
    width: 49.5%;
    display: inline-block;
}

.info-wrapper{
    text-align: center;
    height: 69%;
    margin: 56px 50px 10px 50px;
    box-sizing: border-box;
    padding: 20px;

}

.info-icon-wrapper{
    width: 80px;
    margin: 0 auto;
    height: 80px;
}

.info-button{
    height: 35px;
    width: 124px;
    border: none;
    border-radius: 6px;
    font-family: "Lobster";
    font-weight: 600;
    font-size: .83em;
    letter-spacing: .074em;
    background-color: #19BBDD;
    color: white;
}

.middle2-wrapper{
    margin: 42px 0 40px 0;
    font-size: 14px;
    text-align: center;
}

.middle2-wrapper .info-box{
    width: 33%;

    
}

.middle2-wrapper .info-box p{
    font-size: .8em;
}

.middle2-wrapper .info-wrapper{
    margin: 21px 0 20px 0;
}

.cta-wrapper{
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #F0FAFA;
    
}

.cta-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}





footer{
    height: 90px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #131B39;
}

.footer-wrapper{
    width: 80%;
    margin: 25px 0 19px 20px;
    color: white;
    display: flex;
    align-items: center;
}

.footer-ul-wrapper{
    display: flex;
    align-items: center;
}

.footer-ul-wrapper a{
    color:white;
}

.footer-ul{
    list-style:none;
    float: left;
    font-size: .8em;
}

.footer-ul li{
    float:right;
    margin-right: 10px;
}




// podcaster page

.p-middle-w{
    font-size: 14px;
    margin-bottom: 20px;
}

.faq-wrapper{
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 50px;
}

.faq-title{
    font-size: 20px;
    text-align: center;
}

.faq-box{
    font-size: .8em;
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 13px;
}

.faq-box p{
    margin: .5em 0 0 0;
}








// advertisers page

