// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
    box-sizing: border-box;
    -webkit-appearance: none;
    list-style:　none;
    text-decoration: none;
}

input[type="submit"]{
    -webkit-appearance: none;
}

body{
    color:#575757;
    font-family: "游ゴシック";
}

.btn:hover{
    cursor: pointer;
}








// header {
//   padding:10px;
//   background: skyblue;
// }


.hidden{
    display: none;
}


#nav-drawer {
    display: none;
    position: relative;
    width: 13%;
    float: right;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 80%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}




@media screen and (max-width:480px) {
  #nav-drawer {
      display: block;
      text-align: center;
      margin-top: 4%;
  }
  
  .header-web-items{
      display: none;
  }
}


.header-burger-ul{
    padding: 0;
    margin: 0;
}

.header-burger-ul li{
    display: block;
    border-top: .4px solid rgba(0,0,0,.4);
    padding: 1.2em 0;
}

.burger-last-li{
    border-bottom: .4px solid rgba(0,0,0,.4);
}

.header-burger-ul li a{
    text-decoration: none;
    list-style: none;
    color:#575757;
}


.top-wrapper{
    height: 450px;
    position: relative;
    // background: image-url("mic_new.jpg") no-repeat right;
    // background-size: contain ;
    // background-size: contain;
    
}

.top-h1-wrapper{
    position: absolute;
    bottom: 47px;
    margin-left: 37px;
}

.top-h1{
    font-size: 2.2em;
}

.animation {
    width:25px; 
    height:25px;
    margin-top:80px; 
    transform-origin:200% center; 
    animation:rotate 7s linear infinite;
    position: absolute;
    }

.animation2 {
    width: 32px; 
    height: 32px;
    margin-top:80px; 
    transform-origin:200% center; 
    animation:rotate2 7s linear infinite;
    position: absolute;
    }
    
.animation3 {
    width: 26px; 
    height: 26px;
    margin-top:80px; 
    transform-origin:200% center; 
    animation:rotate2 7s linear infinite;
    position: absolute;
}
    
.animation img { 
    content:''; 
    height: 32px; 
    width: 32px; 
    animation:rotate 7s linear reverse infinite; }
    
.animation2 img {
    content:''; 
    height: 32px; 
    width: 32px;
    animation:rotate2 7s linear reverse infinite; }
    
.animation3 img {
    content:''; 
    height: 26px; 
    width: 26px;
    animation:rotate2 7s linear reverse infinite; }
    
@keyframes rotate { 100% { transform:rotate(360deg); } }
@keyframes rotate2 { 100% { transform:rotate(-360deg); } }





.middle-wrapper{
    font-size: 0px;
    box-sizing: border-box;
    // padding: 0 10%;
    margin-bottom: 80px;
}

.info-box{
    font-size: 15px;
    height: 100%;
    width: 49.5%;
    display: inline-block;
}


.info-wrapper{
    text-align: center;
    height: 69%;
    margin: 56px 50px 10px 50px;
    box-sizing: border-box;
    padding: 20px;

}

.info-wrapper-ad{
    margin-right: 20%;
}

.info-wrapper-pod{
    margin-left: 20%;
}


@media screen and (max-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
    .info-box{
        font-size: 15px;
        min-width: 320px;
        margin: auto;
        height: 100%;
        display: block;
    
    }
    
    
    .info-wrapper-ad{
    margin-right: 50px;
    } 
    
    .info-wrapper-pod{
        margin-left: 50px;
    }
    
    .smartphone-hidden{
        display: none;
    }
}



/*.info-wrapper:hover{
    cursor: pointer;
    border-radius: 2.4px;
    box-shadow: 0 0 7.5px rgba(0,0,0,.23);
    transition: box-shadow 0.2s ease-in-out;
}
*/

.info-icon-wrapper{
    width: 80px;
    margin: 0 auto;
    height: 80px;
}



.info-button{
    height: 35px;
    width: 124px;
    border: none;
    border-radius: .5em;
    background-color: #19BBDD;
    color: white;
    font-family: "Lobster";
    font-weight: 600;
    font-size: .83em;
    letter-spacing: .074em;
    text-decoration: none;
}

/*
@media screen and (max-width:1034px){
    .info-button{
        background-color: #21A9D8;
    }
}
*/

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 8.5px rgba(0,0,0,.26);
    transition: box-shadow 0.15s ease;
    background: #2FC1E0;
}


.middle2-wrapper{
    margin: 42px 0 40px 0;
    font-size: 14px;
    text-align: center;
}

.middle2-wrapper .info-box{
    width: 33%;
}

@media screen and (max-width:480px){
    .middle2-wrapper .info-box{
        width: auto;
    }
}

.middle2-wrapper .info-box p{
    font-size: .8em;
}

.middle2-wrapper .info-wrapper{
    margin: 21px 0 20px 0;
}

.cta-wrapper{
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #F0FAFA;
    
}

.cta-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}





footer{
    // height: 90px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #131B39;
}

footer a{
    text-decoration: none;
}

.footer-wrapper{
    width: 81%;
    margin: 23.5px auto;
    color: white;
    display: flex;
    align-items: center;
}

.footer-ul-wrapper{
    align-items: center;
    width: 100%;
}

.footer-ul-wrapper a{
    color:white;
}

.footer-ul{
    list-style:none;
    float: left;
    font-size: .75em;
    padding: 0;
}

.footer-ul li{
    float:right;
    margin-right: 14px;
}

.copyright{
    font-size: .8em;
    float:right;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}





// advertisers page

.ad-middle-w{
    margin: 90px 0;
    box-sizing: border-box;
    padding: 0 140px;
}

.hidden{
    display: none;
}


@media screen and (max-width:480px){
    .ad-middle-w{
        padding: 0;
    }
}


// advertiser contact

.contact-container{
    text-align: center;
    box-sizing: border-box;
    padding: 40px 20px;
}

.contact-form-wrapper{
    margin: auto;
    width: 650px;
}

.form-body{
    height: 100%;
    width: 70%;
    margin: auto;
    box-sizing:border-box;
    padding: 40px 10px;
    font-size: 14px;
}

.form-items{
    width: 90%;
    margin: auto;
}

.form-container{
    display: table-row;  
}

.form-container label{
    margin-right: 1em;
}

.form-item{
    display: table-cell;
    vertical-align: top;
}

.form-text-area{
    height: 26px;
    width: 259px;
    margin: auto;
    margin-bottom: 40px;
    border: .45px solid rgba(0,0,0,.3);
    border-radius: 4px;
}

.form-text{
    height: 120px;
}

.form-btn-wrapper{
    box-sizing: border-box;
    width: 152px;
    float: right;

}

.form-btn{
    background-color: #19BBDD;
    border: none;
    height: 33px;
    width: 55px;
    color: white;
    border-radius: 5px;
    float: right;

}

.form-submit-item{
    float:right;
}


.deal-request-form-items{
    width: auto;
}

.deal-text{
    float:left;
    margin-left: 1em;
}




// podcaster page

.p-middle-w{
    font-size: 14px;
    margin-bottom: 20px;
}

.faq-wrapper{
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 50px;
}

.faq-title{
    font-size: 30px;
    text-align: center;
}

.faq-box{
    font-size: .8em;
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 13px;
}

.faq-box p{
    margin: .5em 0 0 0;
}












// login

.login-form-body{
    padding-top: 9px;
}

.login-form-items{
    width: 356px;
}

.login-h1{
    margin-left: 5.5em;
}



// myaccount

.top-nav-bar{
    position: relative;
    height: 93px;
    border-bottom: 1.3px solid rgba(0,0,0,.25);
}


.top-nav-ul{
    position: absolute;
    bottom: -1.5px;
    margin: 0;
    padding-left: 29px;
    
}

.top-nav-li{
    float: left;
    list-style: none;
    height: 40px;
    width: 145px;
    border: .8px solid rgba(0,0,0,0.3);
    line-height: 40px;
    text-align: center;
    font-size: .7em;
    margin-right: 9px;
    border-radius: 4.1px;
}

.top-nav-li:hover{
    cursor: pointer;
}

.content-sec{
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 7em;
    background:#F3F3F3;
}

.content-sec h2{
    margin: 39px 0 0 97px;
    font-size: 1.35em;
}

.content-wrapper{
    width: 61%;
    min-height: 700px;
    padding: 5em;
    margin: 2em auto 0 auto;
    box-shadow: 0 7px 14px 0 rgba(50,50,93,0.1), 0 3px 6px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fff;
}


.content-payment-wrapper{
    line-height: 600px;
    text-align: center;
}
.content-container{
    display:none;
}



.delete-btn{
    text-decoration: none;
    color: #575757;
    border-bottom: 0.45px solid rgba(0,0,0,.3);
    font-size: 0.85em;
    margin-right: 13px;
    margin-top: .7em;

    
}

.form-btn-ul{
    display:flex;
    float: right;
    padding: 0;
}

.form-btn-ul li{
    display:inline-block;
    float: right;
    list-style: none;
}



.password-form{
    width: 65%;
    margin: auto;
}


.edit-password{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.pass-edit-modal-bg{
    background: rgba(0,0,0,0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.pass-edit-content{
    border-radius: 4px;
    background: #fff;
    padding: 7em 4em;
    width: 60%;
    margin: auto;
    margin-top: 13em;
    z-index: 0;
    position: relative;

}

#pass-modal-close{
    cursor: pointer;
    width: 3em;
    position: absolute;
    right: 4.3em;
    top: 3.1em;
    font-size: .9em;
}

.pass-edit-action{
    margin-top: 5.7em;
    font-size: .8em;
    text-align: right;
    padding-right: 2em;
}

.pass-edit-action a{
    cursor: pointer;
}











.deal-management-table{
    width: 100%;
    display: table;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.deal-management-table tbody{
    display: table-row-group;
    border-collapse: collapse;
}

.deal-management-table tr{
    display: table-row;
    height: 44px;
    width: 100%;
    table-layout: fixed;

}


.cancel-deal{
    font-size:.7em;
    background: white;
    width: 9%;
}
.cancel-deal-btn:hover{
    cursor: pointer;
}

.cancel-deal-btn a{
    color: #575757;
}


.deal-titles{
    background: #E9E9E9;
}


.deal-titles td{
    text-align: center;
    font-size: .73em;
    font-weight: 600;

}

.deal-tr td{
    text-align: center;
}

.deal-tds{
    border: .3px solid rgba(0,0,0,.26);
    font-size: .83em;
}

.deal-id{
    display:none;
}

.deal-hidden{
    display:none;
}

.manage-btn-wrapper{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0 auto;
    width: 70%;
}

.manage-btn{
    
}

.manage-btn a{
    background-color:#44c767;
    font-size: .9em;
    border-radius: 2px;
    color: white;
    padding: .4em .9em;
    
}

.accept-btn a{
    background-color:#44c767;
}

.deny-btn a{
    background-color: #FE4A1D;
}


.deal-detail-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.deal-modal-bg{
    background: rgba(0,0,0,0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.deal-content{
    border-radius: 4px;
    background: #fff;
    padding: 4em 4em;
    width: 85%;
    margin: auto;
    margin-top: 3em;
    z-index: 0;
    position: relative;
}

.deal-content h3{
    font-size: .94em;
}

.deal-content p{
    font-size: .92em;
    padding-left: 1.5em;
}


.deal-name:hover{
    cursor:pointer;
}

#deal-modal-close{
    cursor:pointer;
    width: 3em;
    position: absolute;
    right: 2.9em;
    top: 2.1em;
    font-size: .7em;
}

.error-message-wrapper{
    border: .12em solid #FE4A1D;
    width: 417px;
    margin: auto;
    font-size: .85em;
    
}

.error-message-ul{
    margin-top: 7px;
}

.error-message-wrapper li{
    text-align: left;
    margin-bottom: 1.4px;
    width: 75%;
    margin: auto;
}


.error-title{
    line-height: 27px;
    height: 27px;
    color: white;
    background: #FE4A1D;
    text-align: left;
    padding-left: 34px;
}

.program-form-items{
    width: 90%;
    margin: auto;
}

.edit_program{
    width: 94%;
    margin: auto;
}

.content-program input[type="file"]{

}

.content-program h3{
    margin-bottom: 3em;
}

.program-text-area{
    height: 9.3em;
    width: 259px;
}


.cpm-wrapper{
    margin-top: 2.5em;
}

.cpm-table tbody{
    border-collapse: collapse;
    table-layout: fixed;
}

.cpm-table tr{
    vertical-align: top;
}

.cpm-td-description{
    // width: 65%;
}

.cpm-td-num{
    // width: 20%;
}



.content-schedule-wrapper{
    width: 83%;
}

.episode-schedule-wrapper{
    width: 90%;
    margin: auto;
}


.episode-schedule-table{
    table-layout: fixed;
    width: 100%;
    border-collapse:collapse;
}

.episode-schedule-table td{
}


.ep-table-titles{
    background: #F3F3F3;
    font-weight: 600;
}

.ep-table-titles td{
    padding: .43em;
}

.ep-table-items{
    height: 3.4em;
}

.date-td{
    width: 28%;
    padding-left: .35em;
}

.title-td{
    width: 28%;
}

.num-td{
    width: 15%;
    text-align: center;
}


.ep-form-text-area{
    border: .45px solid rgba(0,0,0,.3);
    border-radius: 4px;
}

.ep-date-area{
    width: 90%;
}

.ep-title-area{
    width: 90%;
}

.ep-num-area{
    width: 31px;
}




.edit-ep-title-area{
    width: 90%;
}

.edit-ep-date-area{
    width: 90%;
}

.ep-edit-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    
    
}

.ep-edit-modal-bg{
    background: rgba(0,0,0,0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.ep-edit-content{
    border-radius: 4px;
    background: #fff;
    // left: 50%;
    padding: 7em 4em;
    // position: absolute;
    // top: 50%;
    // transform: translate(-50%,-50%);
    width: 85%;
    margin: auto;
    margin-top: 13em;
    z-index: 0;
    position: relative;
    // height: 38%;

}

.edit-modal-table{
    margin-bottom: 1em;
}

.ep-edit-delete{
    margin-top: .8em;
}
.ep-edit-submit{
    margin-top: .8em;
}

.ep-edit-warning{
    font-size: .8em;
    margin-bottom: .7em;
}


#modal-close{
    cursor: pointer;
    width: 3em;
    position: absolute;
    right: 2.3em;
    top: 1.8em;
    font-size: .7em;
}

.ep-edit-area{
    display:none;
}

.ep-modal-table{
    table-layout: fixed;
    width: 80%;
    
}

.ep-modal-table td{
    
}

.ep-add-area{
    display:none;
    
}

.edit-modal-table input{
    height: 2.3em;
}

.long-field{
    width: 25%;
    display: inline-block;
}

.short-field{
    width: 7%;
    text-align: center;
    margin-right: .13em;
    display: inline-block;
}

.short-field input{
    width: 100%;
}

.ep-active{
    display: block;
}

#ep-add-new{
    float:right;
    font-size: .82em;
    margin: 1em 1em 0 0 ;
    cursor: pointer;
}

.edit-episode{
    text-align: center;
}

.edit-episode span{
    cursor: pointer;
    font-size: .71em;
}

.num-td-val{
    text-align: center;
}



.dl-confirmation-wrapper{
    width: 90%;
    margin: 7em auto 0 auto;
}

.dl-confirmation-wrapper form{
    width: 80%;
    margin: auto;
}


.form-pic-wrapper{
    margin-bottom: 3.5em;
}

.prof-image{
    display: block;
    width: 9em;
    height: 9em ;
    margin: auto;
    
}


.dl-file-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.dl-file-modal-bg{
    background: rgba(0,0,0,0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.dl-file-content{
    border-radius: 4px;
    background: #fff;
    padding: 7em 4em;
    width: 47%;
    margin: auto;
    margin-top: 13em;
    z-index: 0;
    position: relative;

}

#dl-modal-close{
    cursor: pointer;
    width: 3em;
    position: absolute;
    right: 4.3em;
    top: 3.1em;
    font-size: .9em;
}

.dl-file-action{
}

.dl-file-action a{
    cursor: pointer;
}

.dl-form-container{
    margin: auto;
}


.dl-reconfirm{
    font-size: .7em;
    font-weight: normal;
    margin-left: 1.2em;
}









// contact page

.contact-form-body{
    width: 80%;
}

.contact-form{
    width: 340px;
}
.contact-form-content{
    height: 152px;
}



.active{
    display: block;
}

.active-btn{
    background: #131B39;
    color:white;    
}

.form-contact-items{
    width: 400px;
}






// terms of use
.terms-section{
    margin-top: 5em;
    width: 100%;
    
}

.terms-container{
    width: 65%;
    margin: auto;
    padding-bottom: 6em;
}

.terms-container h1{
    text-align:center;
}

.terms-container h2{
    margin-top: 3em;
    text-align:center;
}

.terms-container h2{
    margin-top: 1.5em;
    text-align:center;
}

.terms-container p{
    font-size: .85em;
    margin: 0;
}

.agree-terms{
    text-decoration: none;
    border-bottom: 1px dotted rgba(0,0,0,.8);
}

.terms-btn{
    width: 7.4em;
}





// privacy policy

// terms of use

.privacy-section{
    margin-top: 5em;
    width: 100%;
    
}

.privacy-container{
    width: 65%;
    margin: auto;
    padding-bottom: 6em;
}

.privacy-container h1{
    text-align:center;
}


.privacy-container h2{
    margin-top: 3em;
    text-align: left;
}


.privacy-container p{
    font-size: .85em;
    margin: 0;
}

.agree-terms{
    text-decoration: none;
    border-bottom: 1px dotted rgba(0,0,0,.8);
}

.agree-terms a{
    text-decoration: none;
}

.terms-btn{
    width: 7.4em;
}


