// Place all the styles related to the podcaster controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// podcaster page

.p-middle-w{
    font-size: 14px;
    margin-bottom: 20px;
}

.faq-wrapper{
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 50px;
}

.faq-title{
    font-size: 20px;
    text-align: center;
}

.faq-box{
    font-size: .8em;
    width: 70%;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 13px;
}

.faq-box p{
    margin: .5em 0 0 0;
}