<!DOCTYPE html>
<html>
  <head>
    <title>Locura</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        
        <ul class="header-ul">
          <li>広告主</li>
          <li>番組ホスト</li>
          <li>登録・ログイン</li>
        </ul>
        
        <div class="site-title-wrapper">
          <a class="site-title">
            LOCURA
          </a>
        </div>
        
      </div>
    </header>
    
    
    <%= yield %>
  </body>
</html>
